.Card {
  font-family: "Quicksand";
  width: 30%;
  min-width: 100px;
  height: 30%;
  min-height: 92px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: clamp(10px, 1.5vw, 15px);
  font-weight: 500;
  background: white;
  border: none;
  transition: all 0.2s ease;
  outline: none;
  border: none;
}

.Card:hover {
  transform: scale(1.15);
  font-weight: bolder;
  background: rgb(233, 190, 89);
  background: linear-gradient(107deg, rgb(245, 186, 47) 0%, rgba(255, 218, 2, 1) 100%);
  cursor: pointer;
}

.Card:active {
  box-shadow: none;
}

.PlayerContainer {
  height: 80%;
}
.Position {
  font-family: "Quicksand";
  font-weight: 900;
  font-size: clamp(15px, 2vw, 22px);
}
