.IndexPage {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  align-content: space-around;
  width: 100vw;
  height: 100vh;
  background: rgb(231, 171, 30);
  background: linear-gradient(90deg, rgba(231, 171, 30, 1) 0%, rgba(255, 218, 2, 1) 100%);
}
